@font-face { 
    font-family: "GothamProLight";
    src: url("/Shine.Design/fonts/GothamProLight/GothamProLight.eot");
    src: url("/Shine.Design/fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("/Shine.Design/fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("/Shine.Design/fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face { 
    font-family: "GothamProLightItalic";
    src: url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face { 
    font-family: "RalewayBold";
    src: url("/Shine.Design/Raleway/RalewayBold/RalewayBold.eot");
    src: url("/Shine.Design/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("/Shine.Design/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("/Shine.Design/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    font-family: "GothamProLight", sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3%;
}

nav {
    font-size: 18px;
    font-weight: 500;
    font-family: "RalewayBold", sans-serif;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 0 30px;
    transition: 0.5s;
}

li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #FC9FCF;
}

main {
    padding: 0 3%;
}

h1 {
    color: #F664AF;
    margin-bottom: 50px;
    font-family: "RalewayBold", sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

form {
    margin-bottom: 30px;
}

.forms {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form {
    margin-top: 50px;
}

.one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 20px;
    color: #FC9FCF;
    font-family: "RalewayBold", sans-serif;
}

.empty {
    border: red 1px solid;
}

input {
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    color: #FC9FCF;
    padding: 12px 50px 12px 20px;
    border: #FC9FCF solid 1px;
    border-radius: 21px;
    margin-top: 25px;
    outline:none;
    width: 320px;
}

::placeholder {
    color: #FC9FCF;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.send {
    font-family: "RalewayBold", sans-serif;
    font-size: 18px;
    color: #F664AF;
    padding: 12px 20px;
    border: #F664AF solid 2px;
    background-color: white;
    border-radius: 50px;
    margin-top: 25px;
    outline:none;
    transition: 0.3s;
}

.send:hover {
    background-color: #F664AF;
    color: white;
}

footer {
    padding: 20px;
    padding-left: 3%;
}

@media (max-width: 800px) {
    header {
        padding:  10px;
    }

    .logoimg {
        width: 100%;
    }

    main {
        padding: 0 10px;
    }

    h1 {
        display: none;
    }

    .form {
        flex-direction: column;
        align-items: flex-start;
    }

    #form {
        margin-top: 0;
    }

    .one {
        margin-bottom: 30px;
    }

    label {
        font-size: 18px;
    }

    input {
        margin-top: 10px;
        font-size: 16px;
        padding: 12px 0 12px 20px;
    }

    .send:active {
        background-color: #F664AF;
        color: white;
    }

    footer {
        font-size: 16px;
    }
}
