@font-face { 
    font-family: "GothamProLight";
    src: url("/Shine.Design/fonts/GothamProLight/GothamProLight.eot");
    src: url("/Shine.Design/fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("/Shine.Design/fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("/Shine.Design/fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face { 
    font-family: "GothamProLightItalic";
    src: url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("/Shine.Design/fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face { 
    font-family: "RalewayBold";
    src: url("/Shine.Design/Raleway/RalewayBold/RalewayBold.eot");
    src: url("/Shine.Design/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("/Shine.Design/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("/Shine.Design/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    font-family: "GothamProLight", sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3%;
}

a {
    text-decoration: none;
    color: #FC9FCF;
}

.buy {
    border: #FC9FCF 2px solid;
    border-radius: 50px;
    background: none;
    color: #FC9FCF;
    font-family: "RalewayBold", sans-serif;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 0;
    transition: 0.3s;
}

.buy:hover {
    background-color: #FC9FCF;
    color: white;
}

main {
    padding: 0 3%;
}

h1 {
    color: #F664AF;
    margin-bottom: 50px;
    font-family: "RalewayBold", sans-serif;
    text-align: center;
    font-size: 25px;
}

.projects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer {
    padding: 20px;
    padding-left: 3%;
}

@media (max-width: 800px) {
    header {
        padding:  10px;

    }

    .logoimg {
        width: 90%;
    }

    .buy {
        white-space: nowrap;
        font-size: 16px;
    }

    main {
        padding: 0 10px;
    }

    h1 {
        display: none;
    }

    .projects {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }

    .project {
        width: 100%;
    }

    footer {
        font-size: 16px;
    }
}

@media (min-width: 801px) and (max-width: 1400px) {
    h1 {
        display: none;
    }

    .projects {
        width: 100%;
    }

    .portA {
        width: 45%;
    }

    .project {
        width: 100%;
    }

    footer {
        font-size: 16px;
    }
}
