@font-face { 
    font-family: "GothamProLight";
    src: url("/shine design/fonts/GothamProLight/GothamProLight.eot");
    src: url("/shine design/fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("/shine design/fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("/shine design/fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face { 
    font-family: "GothamProLightItalic";
    src: url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face { 
    font-family: "RalewayBold";
    src: url("/shine design/Raleway/RalewayBold/RalewayBold.eot");
    src: url("/shine design/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("/shine design/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("/shine design/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    font-family: "GothamProLight", sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3%;
}

a {
    text-decoration: none;
    color: #FC9FCF;
}

.buy {
    border: #FC9FCF 2px solid;
    border-radius: 50px;
    background: none;
    color: #FC9FCF;
    font-family: "RalewayBold", sans-serif;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.buy:hover {
    background-color: #FC9FCF;
    color: white;
}

main {
    padding: 0 3%;
    margin: 50px 0 140px 0;
}

.project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

h1 {
    color: #F664AF;
    margin: 0 0 50px 0;
    font-family: "RalewayBold", sans-serif;
    text-align: center;
    font-size: 25px;
}

p {
    width: 95%;
    margin-bottom: 50px;
}

footer {
    padding: 20px;
    padding-left: 3%;
}

@media (max-width: 1090px) {
    .logoimg {
        width: 90%;
    }

    .buy {
        white-space: nowrap;
        font-size: 16px;
    }

    .buy:active {
        background-color: #FC9FCF;
        color: white;
    }

    main {
        margin-bottom: 20px;
    }

    .project {
        width: 100%;
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .text {
        margin-left: 0;
        margin-top: 20px;
        font-size: 18px;
    }

    h1 {
        margin-bottom: 0px;
        font-size: 22px;
    }

    p {
        margin-bottom: 20px;
    }
}