@font-face { 
    font-family: "GothamProLight";
    src: url("/shine design/fonts/GothamProLight/GothamProLight.eot");
    src: url("/shine design/fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("/shine design/fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("/shine design/fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face { 
    font-family: "GothamProLightItalic";
    src: url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("/shine design/fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face { 
    font-family: "RalewayBold";
    src: url("/shine design/Raleway/RalewayBold/RalewayBold.eot");
    src: url("/shine design/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("/shine design/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("/shine design/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    font-family: "GothamProLight", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 40%;
}

h1 {
    font-family: "RalewayBold", sans-serif;
    color: #F664AF;
    margin-bottom: 10px;
}

a {
    margin-top: 10px;
    color: #F664AF;
    text-decoration: underline 1px;
}